* {
	box-sizing: border-box;
}

body {
	background: #412500;
	color: 
}

.panel-body {
	/*background: url(../images/railline.jpg)*/;
	border-color: transparent !important;
}

.jumbotron, .panel-heading, footer, nav, .navIcon {
	background: #66400E !important;
	color: #B2854B !important;
}

.container {
	border-color: tan !important;
}

/*.panel, .panel-heading, .panel-title, .panel-body, .panel-default {
	border-color: transparent !important;

}
*/

h1 {
	font-size: 47px !important;
}

.panel-body {
	background: #8E6228 !important;
	color: #221300 !important;
	border-color: transparent !important; 

}

.jumboCenter {
/*	background: url(../images/oldtrain.jpg);
*/}

.profileJumbo {
	border: none !important;
	/*width: 100px;*/
	height: 125px;
	margin: 0 5px 0 5px;
	align-items: center;
	display: inline;
}



.navbar {
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: 3px solid tan;
      z-index: 99;
    }

.container-main {
	float: left;
	width: 100%;
	height: 100%
	margin: 20px 0 10px 0;
	padding: 20px 0 0 0;
	background: #ffffff;
}

#myface {
	float: left;
	width: 150px;
	height: 150px;
	max-width: 100%;
	max-height: 100%;
	margin: 8px 20px 0 0;
}  

footer {
      color: #9d9d9d;
      padding: 25px;
      border-top: 3px solid tan;
      /*position: fixed;*/
      bottom: 0;
      padding: 15px 0 5px 0;
    }

.about-row {
	/*min-height: 90vh;*/
}

.jumbotron {
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-group {

}

.connect-me {
	border-top: 2px solid tan;
    border-bottom: 2px solid tan;
}

.profile {
	width: 75px;
	/*height: 50px;*/
	margin: 0 5px 0 5px;
	align-items: center;
	display: inline;
}
